<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="durnek.bakalarka.geography" >

    <uses-sdk android:minSdkVersion="17"
              android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/ikona"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.KontinentActivity"
            android:label="@string/title_activity_kontinenty"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".application.OPrograme"
            android:screenOrientation="portrait"
            android:label="O programe" >
        </activity>
        <activity
            android:name=".activities.KontinentDetailActivity"
            android:label=".KontinentDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.KontinentActivity" />
        </activity>
        <activity
            android:name=".kviz.Otazka"
            android:label="@string/title_activity_otazka"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.StatActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_stat"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.StatDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_activity_stat_detail" >
        </activity>
        <activity
            android:name=".kviz.Vyhodnotenie"
            android:screenOrientation="portrait"
            android:label="Vyhodnotenie">
            </activity>
    </application>

</manifest>
